@model KutuphaneOtomasyonu.Models.Uye

@{
    ViewData["Title"] = "Create";
}


<center>
    <h4>Uye Bilgileri</h4>
</center>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="KimlikNo" class="control-label"></label>
                        <input asp-for="KimlikNo" class="form-control" />
                        <span asp-validation-for="KimlikNo" class="text-danger"></span>
                
                </div>
                <div class="form-group">
                    <label asp-for="AdSoyad" class="control-label"></label>
                    <input asp-for="AdSoyad" class="form-control" />
                    <span asp-validation-for="AdSoyad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.DropDownList("TurID", (List<SelectListItem>)ViewBag.UyeTurleri, "Üye Türü Seçiniz", new { @class = "form-control mt-2", })
                    <span asp-validation-for="TurID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    @*<div>
            <a asp-action="Index">Back to List</a>
        </div>*@

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>

                //$("#TurID").on('change', function () {
                //    var val = $('select[name=TurID] option').filter(':selected').val();
                //    alert(val);
                //})
        </script>
    }